.productPage-row {
    width: 100%;
    display: flex;
}
.productPage-content-col {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.productPage-content-div {
    width: 80%;
}
.image-carousel {
    background-color: #212529;
    width: 100%;
    height: 100%;
}

.annonce-image {
    height: 400px; 
    width: 100%; 
    object-fit: contain;
  }

  .tittel-component {
    font-size: 20px;
    font-weight: 450;
  }
  .content-heading {
    font-size: 18px;
    font-weight: 450;
  }

  .price-and-controlbuttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price-and-controlbuttons * {
    margin: 0px;
  }

  .content-description {
    display: flex;
    align-self:flex-start;
    flex-direction: column;
  }

  .productPage-seller-col{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .seller-panel {
    border: 2px solid;
    border-radius: 5px;
    width: 70%;
    position: relative;
    margin-top: 20%;
    height: 300px;
  }
  .seller-avatar{
    position: absolute;
    top: -60px;
    left: 0;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .seller-information {
    top: -60px;
    left: 0;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .seller-username {
    font-size: 20px;
  }
  .seller-subinfo {
    font-size: 14px;
    font-weight: 100;
  }
  .seller-lastactive {
    font-size: 12px;
  }
  .seller-panel p {
    margin: 0%;
  }