.messageFrame__con {
    height: 100%;
}

.messageFrame__messages {
    height: 100%;
}

.messageFrame__warning {
    text-align: center;
}

.messageFrame__textField {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.textField__textField {
    width: 600px;
}