.navbar__profileLink {
    display: flex;
    align-items: center;
}

.contact__photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.contact__nameAndStatus {
    margin-left: 10px;
}

.navbar__product {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.product__photo {
    width: 80px;
    height: fit-content;
}

.product__properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.product__attributes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.product__attributes > p, .lastSeen {
    font-size: 14px;
}

.product__attributes > * {
    margin-left: 5px;
}
