.productCard {
    max-width: 320px;
    margin: auto;
  }

  .image_elements{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_elements .prev-button{
  position: absolute;
}

.image_elements .next-button{
  right: 0%;
  position: absolute;
}

.productCard_image{
  margin-bottom: 10px;
}

.productCard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

  