.navbarProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color:rgba(0,0,0,.03);
}

.navbarProduct__search {
    margin-left: 30px;   
}
    
.navbarProduct__buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;  
}

.navbarProduct__buttons > * {
    margin-left: 20px;
    width: max-content;
}

.buttons__operation {
    display: flex;
    justify-content: space-between;
    width: 125px;
    margin-right: 30px;
}

.buttons__operation > i {
    cursor: pointer;
}

.deleteProductIcon {
    color: #dc3545;
}
